@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Itim&family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Pacifico&family=Patrick+Hand&family=Shippori+Antique+B1&display=swap');
.intro{
    display: flex;
    height: 75vh;
    margin-top: 8rem;
}
.i-left{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
}

.i-name{
    display: flex;  
    flex-direction: column;
}
.i-name>:nth-child(1)
{
    color: var(--black);
    font-weight: 100;
    font-size: 3rem;
    font-family: 'Courgette';
}
.i-name>:nth-child(2)
{
    color:var(--orange);
    font-weight: normal;
    font-size: 3rem;
    font-family: 'Lobster';
}
.i-name>:nth-child(3)
{
     font-weight: 100;
     font-size: 14px;
     margin-top: 10px;
     color: var(--gray);
}
.i-icons{
    margin-top: 3rem;
    display: flex;
    gap: 0rem;
}
.i-icons>*{
    transform: scale(0.5);
}
.i-icons>*:hover{
    cursor: pointer;
}
.i-right{
    flex: 1;
    position: relative;
}
.i-right>*{
    position:absolute;
    z-index: 1;
}
.photo{
    transform: scale(0.6);
    left: -25%;
    top: -45%;
}
.i-right>:nth-child(2)
{
    transform: scale(0.6);
    top: -19%;
    left: -24%;
    border-radius: 50%;
    padding: 0;
}
.blur{
    position: absolute;
    width: 22rem;
    height: 14rem;
    border-radius:50% ;
    background: #edd0ff;
    filter: blur(35px);
    z-index: -9;
    top: -18%;
    left: 72%;
}
.pa{
    font-family: 'Itim',cursive;
}
@media screen and (max-width:480px){
    .intro{
        flex-direction: column;
        height: 64rem;
        gap: 7rem;
        width: 100%;
        margin-top: 10rem;
    }
    .i-name{
        margin-top: 10rem;
    }
    .i-icons{
        margin-top: -0.5rem;
        transform: scale(0.6);
        gap: 2rem;
        margin-left: -2rem;
    }
    .i-name>:nth-child(1){
        font-size: 30px;
    }
    .i-name>:nth-child(2){
        font-size: 30px;
    }
    .i-name>:nth-child(3)
    {
        font-size: 15px;
    }
    .i-right{
        transform: scale(0.8);
        left: -3rem;
    }
    .i-right .blur{
        display: none;
    }
    .floating-div:nth-of-type(2), .floating-div:nth-of-type(3){
        display: none;
    }
    .i-right>:nth-child(1){
        transform: scale(0.4);
        margin-left: -7.5rem;
        margin-top: -57rem;
    }
    .blur{
        display: none;
    }
    .a{
        display: none;
    }
}